<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body class="wrong-page">
    <header>
        <nav> 
            <div class="logo">
                <span>TR DREAMER</span>
            </div>
        </a>
            <ul class="nav-links">
                <li><a href="/" id="home-res">Home</a></li>
                
                 </ul>
        <nav>
        </header>
     
    <div class="section-404">
       <div class="content-404">
           <img src="css/img/404.png" alt="">
       </div>
       <h2 class="not-found"><%= name %></h2>
       <a href="." class="return-home">Return to homepage</a>
    </div>
    
</body>
</html>