<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">   
    <link rel="stylesheet" href="/css/style.css"> 
    <title>Badr Portfolio</title>
</head>
<body> 
    <header>
        <nav> 
            <div class="logo">
                <span>TR DREAMER</span>
            </div>
            <ul class="nav-links">
                <li><a href="/" id="home-res">Home</a></li>
                <li><a  href="#about-me" id="about-res">About Me</a></li>
                <li><a href="/contact" class="proje" id="proje-res">Contact Me</a></li>
                 </ul>
                
                <div class="navigation">
                    <div class="ham-btn" onclick="showNav()">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="links">
                      <div class="link">
                        <a href="/">Home</a>
                      </div>
                      <div class="link">
                        <a href="/contact">Contact Me</a>
                      </div>
                      <div class="link">
                        <a href="#about-me">About me</a>
                      </div>
                      
                    </div>
                  </div>
        </nav>
    </header>

    <main class="main-section">
       
        <!-- <div class="circle"></div> 
       <div class="circle1"></div> -->
       <!-- <div class="circle2"></div>  -->
       <div class="random-person">
           <img src="/css/img/FFF5E6.png" alt="">
       </div>
      <div class="info-wrapper">
       
          <p class="hello" data-aos="fade-up">Hello ,</p>
          <h1 class="me">I'm Badr Freelance Designer <br></h1><span class="developer" data-aos="fade-right">& Developer</span> 
          <br>
          <div class="cta-btn">
          <a href="/contact" class="hire-me">Hire me</a>
       </div>
      </div>
   </main>

    <section id="about-me" class="section-grid" data-aos="fade-up">
        <div class="content1">
            
            <h1 class="about">About Me</h1>
            <p class="brief">My Name is Badr Kilou</p>
            <p class="brief1">I'm a fullstack developer and UI/UX enthusiast, Check out my latest web components and brackets extentions in my github repository,
                Feel free to take a look at my most recent projects as well as my old projects.</p>
            <div class="btn-act">
            <a href="/contact" class="hire">Hire Me</a>
            <a href="https://github.com/BadrKilou"  class="projects" target="newblank">See Projects</a>
        </div>
        </div>
        <div class="myself" data-aos="fade-right">
            <img src="/css/img/random-illustration.png" alt="">
        </div>
        
    </section>

    <section class="section-flex-2" data-aos="fade-in">
        <div class="content-2">
            <h1 class="services">Services</h1>
            <p class="brief-mobile">Do you want to make a cool website or an application ?<br>
                Guess What? You're in the right place.<br> I can build a professional full stack website that involve The MERN Technologies ,<br> the fastest growing technologies in the world .</p>
        </div>

        <div class="skills">
            <div class="research" id="flow" data-aos="fade-up">
            <i class="fas fa-mobile" id="icon"></i>
            <h2 class="ux">UX REASEARCH</h2>
            <p class="ux-p">I can do UX reasearch in short period of time quick</p>
        </div>
        <div class="dev-badr" id="flow" data-aos="fade-down">
            <i class="fas fa-laptop-code" id="icon"></i>
            <h2 class="dev">Web Development</h2>
            <p class="dev-p">My Goal is to build you a good interactive website</p>
        </div>
        <div class="full-stack" id="flow" data-aos="fade-down">
            <i class="fab fa-node" id="nodejs"></i>
            <h2 class="dev">UX REASEARCH</h2>
            <p class="dev-p">NODE JS is the hottest server-client technology js</p>
        </div>
        <div class="app-design" id="flow" data-aos="fade-up">
            <i class="fas fa-laptop-code" id="icon"></i>
            <h2 class="dev">Full Stack Development</h2>
            <p class="dev-p">Server Client Development is the heart of the web</p>
        </div>
        </div>
    </section>

      <div class="design" data-aos="fade-in">
          <div class="content5">
              <h2 class="idea">Have any Project in mind ?</h2>
              <a href="contact" class="call">Hire me</a>
          </div>
      </div>
       
      <div class="experience-section" data-aos="fade-up">
        <div class="content-6">
            <h1 class="experiences">Experiences</h1>
            <p class="brief-experience">I'm a Full Stack Developer specialized in frontend & backend development ,<br>
             for complex scalable web apps.<br> Want to know how i may help your project?</p>
        </div>
        
        <div class="showcase-design">
            <div class="experience-panel" data-aos="flip-up">
             <small class="micro">Overview</small>
             <br>
            <h2 class="ux-brief">UX REASEARCHER</h2>
            <p class="ux-para">I have more than 8 years' experience building rich web applications for clients all over the world</p>
        </div>

        <div class="experience-panel" data-aos="flip-down">
            <small class="micro">Dropbox</small>
            <br>
           <h2 class="ux-brief">UI/UX</h2>
           <p class="ux-para">I've Helped Dropbox building the UI , it was a good experience, i've learned a lot from it .</p>
       </div>

       <div  class="experience-panel" data-aos="flip-right">       
        <small class="micro">Ever Note</small>
        <br>
       <h2 class="ux-brief">Server-client</h2>
       <p class="ux-para">I Created the template and the backend of this company , Using the Mearn Technologies, The team there were very friendly</p>
   </div>
      </div>

      <footer class="footer">
          <h1 class="grande">Interested in hiring me for your project ?</h1>
          <div class="main-footer" data-aos="zoom-in-up">
              <p class="footer-brief">
                Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at <span class="email">Bobbyevin07@gmail.com</span> or use the form on the contact page. </p>
              <div class="footer-icons">
                <a href="https://www.instagram.com/overdose.knz/" target="newblank"><i class="fab fa-instagram-square" id="feed"></i></a>
                <a href="https://github.com/BadrKilou" target="newblank"><i class="fab fa-twitter-square" id="feed"></i></a>
                <a href="https://github.com/BadrKilou" target="newblank"><i class="fab fa-github-square" id="feed"></i></a>
              </div>
              <div class="end-section">
              <small class="copyright">&copy; Designed & Developed by <span class="credentials">Badr Kilou</span></small>
            </div>
          </div>
      </footer>
      



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="/css/js/main.js"></script>
      <script src="/css/js/app.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init({
            startEvent: 'DOMContentLoaded',
            ebounceDelay: 50, // the delay on debounce used while resizing window (advanced)
            throttleDelay: 99,
            duration: 600, // values from 0 to 3000, with step 50ms
            easing: 'ease', // default easing for AOS animations
            delay: 400
        });
      </script>


     

      
      
  
    
    <script src="https://kit.fontawesome.com/681756e512.js" crossorigin="anonymous"></script>

    
   
</body>
</html>